{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block extra_css %}
<style>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}
/* .carousel {
  max-height: 700px;
  overflow: hidden;


} */
.carousel-inner{overflow:visible}
.item img {
    width: 100%;
    height: auto;
  }
</style>
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "media/uploads/index.css" %}">
{% endblock %}

{% block extra_js %}
<script src="{% static "js/index.js" %}"></script>
<script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
<script src="{% static "js/jquery.isotope.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('#main-slider').carousel({
        interval: 10000
      })
    });    
  </script>
{% endblock %}

{% block meta_title %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ settings.SITE_TITLE }}{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}{% endif %}{% endblock %}

{% block meta_description %}{% if page.description %}{{ page.description }}{% endif %}{% endblock %}

{% block meta_keywords %}{% if page.meta_keywords %}{{ page.meta_keywords }}{% endif %}{% endblock %}

{% block all_content %}
{% if page.homepage.slides.all %}
<section class="no-margin">
        <div class="carousel slide" data-ride="carousel" id="main-slider">
            <div class="carousel-outer">
                <div class="carousel-inner">
                    {% for slide in page.homepage.slides.all %}
                   <div class="item{% if forloop.first %} active{% endif %}">
                       <img src="{{ MEDIA_URL }}{{ slide.image }}"></img>
                   </div><!--/.item-->
    
                    {% endfor %}  
               </div><!--/.carousel-inner-->
               {% if page.homepage.slides.all|length >= 2 %}
               <a data-slide="prev" href="#main-slider" class="hidden-xs left carousel-control" role="button">
                <span class='glyphicon glyphicon-chevron-left'></span>
               </a>
               <a data-slide="next" href="#main-slider" class="hidden-xs right carousel-control" role="button">
                <span class='glyphicon glyphicon-chevron-right'></span>
               </a>
               {% endif %}
            </div>


            {% if page.homepage.slides.all|length >= 2 %}
            <ol class="carousel-indicators">
                {% for slide in page.homepage.slides.all %}
                    
                <li data-slide-to="{{ forloop.counter0 }}" data-target="#main-slider" {% if forloop.first %}class="active"{% endif %}>
                    <img src="{{ MEDIA_URL }}{% thumbnail slide.image 200 0 %}"></img>
                </li>
    
                {% endfor %}  
    
            </ol>
            {% endif %}

        </div><!--/.carousel-->

 </section>   

{% endif %}
    <div class="jumbotron">
    <div class="container">
        <div class="row"><div class="col-md-12">
            {% editable page.homepage.heading page.homepage.subheading page.homepage.heading_button page.homepage.heading_link %}
            <h1>{{ page.homepage.heading }}</h1>
            <p>{{ page.homepage.subheading|linebreaks }}</p>
            {% if page.homepage.heading_link %}<p><a class="btn btn-primary btn-lg" href="{{ page.homepage.heading_link }}">{{ page.homepage.heading_button }}</a></p>{% endif %}
            {% endeditable %}
        </div></div>
    </div>
    </div>



    <div id="iconbox" class="section">
    <div class="container">
      {% if page.homepage.iconbox_heading %}
      <div class="row" id="iconbox-title" >
          <div class="col-md-12">
              {% editable page.homepage.iconbox_heading %}
              <h2>{{ page.homepage.iconbox_heading }}</h2>
              {% endeditable %}
          </div>
      </div>
      {% endif %}
      <div class="row" id="iconbox-blurbs">
        {% if page.homepage.blurbs.all %}
            {% for iconblurb in page.homepage.blurbs.all %}

            <div class="blurb col-md-4">

              {% if iconblurb.icon %}
              <div class="blurb-img">
              <a href="{{ iconblurb.link }}"><img src="{{ MEDIA_URL }}{% thumbnail iconblurb.icon 200 0 %}" /></a>
              </div>
              {% endif %}
              {% editable iconblurb.title iconblurb.content iconblurb.link %}
              <h3>{{ iconblurb.title }}</h3>
               <p class="blurb-content">{{ iconblurb.content|richtext_filters|safe  }}</p>
               {% if iconblurb.link %}<p><a class="btn btn-default" href="{{ iconblurb.link }}">{% trans "View details" %} &raquo;</a></p>{% endif %}
               {% endeditable %}

            </div>

            {% endfor %}

        {% endif %}
      </div>
    </div>
    </div><!-- /section iconbox -->

{% endblock %}